body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f5f5f5;
}

/* Ensure placeholder text is white */
input::placeholder {
  color: white !important; /* Use !important to force the color */
  opacity: 1; /* Make sure the placeholder is fully opaque */
}

.custom-textarea::placeholder {
  color: white;
  opacity: 1; /* default-nya 0.5 di sebagian browser */
}

.textarea.custom-textarea::placeholder {
  color: white !important;
  opacity: 1 !important;
}

.textarea.custom-textarea::-webkit-input-placeholder {
  color: white !important;
}

.textarea.custom-textarea::-moz-placeholder {
  color: white !important;
  opacity: 1 !important;
}

.textarea.custom-textarea:-ms-input-placeholder {
  color: white !important;
}

.textarea.custom-textarea:-moz-placeholder {
  color: white !important;
  opacity: 1 !important;
}

body {
  padding-bottom: 5rem;
}

.modal-background {
  background-color: rgba(20, 20, 20, 0.3) !important;
}

.modal-card {
  background-color: #1e1e1e !important; /* atau warna lain */
  opacity: 1 !important;
}
